.working {
  width: 440px;
  height: 700px;
  padding: 10px 15px;
  margin-left: 20px;
  background-color: #d8bfd8;
  border-radius: 20px;
}

.working__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.working__div {
  height: 600px;
  overflow: auto;
  padding: 0 10px;
}

/* 스크롤바 전체 영역 */
.working__div::-webkit-scrollbar {
  width: 10px;
}

/* 움직이는 스크롤바 막대 꾸미기 */
.working__div::-webkit-scrollbar-thumb {
  background: #6a5acd;
  border-radius: 10px;
}

/* 움직이는 스크롤바 뒷 배경 */
.working__div::-webkit-scrollbar-track {
  background: rgba(220, 20, 60, 0.1);
}

.working__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.working__ul__li {
  width: 93%;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  padding: 9px 10px;
}

.working__ul__li__content h4 {
  margin: 10px 0;
}

.btn__complete {
  background-color: #e0e0e0;
  color: #483d8b;
}

.btn__incomplete {
  background-color: #6a5acd;
  color: #fff8dc;
}

.btn__delete {
  background-color: red;
  color: #fff8dc;
  margin-right: 3px;
}
